<h1>Student Form</h1>
<%= form_with model: @student, local: true do |form| %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: "first_name" %>
  </div>

  <div>
   <%= form.label :last_name %>
    <%= form.text_field :last_name, id: "last_name"%>
  </div>
    <%= form.submit "Submit Student" %>
<% end %>
